  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


  :root {
    --shape-size: 60px;
    --shape-color-o: rgb(0, 156, 218);
    --shape-color-x: rgb(202, 75, 60);
    --square-size: 100px;
  }

  * {

    margin: 0;
    padding: 0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }


  body {
    margin: 0;
    display: flex;
    font-family: 'Roboto Slab', serif;
    line-height: 1.5;
    font-weight: 400;
  }


  #root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
  }

  .header,
  game {
    padding: 0;
  }

  .header .game-status {
    margin-bottom: 20px;
  }


  .game {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    /* background-color: green; */
    justify-content: center;
  }

  .history {
    list-style: none;
  }

  .history button {
    outline: none;
    padding: 5px;
    font-size: 0.8rem;
    background-color: var(--shape-color-o);
    border: 0;
    cursor: pointer;
    color: #e9e9e9;
    border-radius: 5px;
  }

  .board {
    position: relative;
    background-color: rgb(115, 142, 146);
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 6px;
  }



  [class*="win-line-"]::after {
    display: block;
    position: absolute;
    content: '';
    height: 10px;
  }

  [class*="win-line-x"]::after {
    background-color: var(--shape-color-x);
  }

  [class*="win-line-o"]::after {
    background-color: var(--shape-color-o);
  }

  [class*="win-line-x-h"]::after,
  [class*="win-line-x-v"]::after,
  [class*="win-line-o-h"]::after,
  [class*="win-line-o-v"]::after {
    animation: winAnimation 0.2s 1 0.4s forwards linear;
  }

  .win-line-x-h-1::after,
  .win-line-o-h-1::after {
    margin-top: calc((var(--square-size) / 2) - 5px);
  }

  .win-line-x-h-2::after,
  .win-line-o-h-2::after {
    margin-top: calc((var(--square-size) / 2 * 3) + 2px);
  }

  .win-line-x-h-3::after,
  .win-line-o-h-3::after {
    margin-top: calc((var(--square-size) / 2 * 5) + 7px);
  }

  [class*='win-line-x-v']::after,
  [class*='win-line-o-v']::after {
    transform: rotateZ(90deg);
    transform-origin: 5px;
  }

  .win-line-x-v-1::after,
  .win-line-o-v-1::after {
    margin-left: calc((var(--square-size) / 2) - 5px);
  }

  .win-line-x-v-2::after,
  .win-line-o-v-2::after {
    margin-left: calc((var(--square-size) / 2 * 3) + 2px);
  }

  .win-line-x-v-3::after,
  .win-line-o-v-3::after {
    margin-left: calc((var(--square-size) / 2 * 5) + 7px);
  }


  [class*='win-line-x-d']::after,
  [class*='win-line-o-d']::after {
    transform-origin: 0px;
    animation: winAnimationDiagonal 0.2s 1 0.4s forwards linear;
  }

  .win-line-x-d-r::after,
  .win-line-o-d-r::after {
    left: calc(var(--square-size) * 3 + 7px);
    transform: rotateZ(135deg);

  }

  .win-line-x-d-l::after,
  .win-line-o-d-l::after {
    left: 5px;
    transform: rotateZ(45deg);
  }


  .square {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    outline: none;
    border: none;
    display: flex;
    place-items: center;
    place-content: center;
  }

  .shape-o,
  .shape-x {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--shape-size);
    height: var(--shape-size);
  }

  .shape-o {
    --padding-size: 8px;
    width: calc(var(--shape-size) - var(--padding-size) / 0.4);
    height: calc(var(--shape-size) - var(--padding-size) / 0.4);
    border-radius: 50%;
    padding: var(--padding-size);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: xor;
  }

  .shape-x {
    display: flex;
    place-content: center;
    place-items: center;
  }

  .shape-x span {
    position: absolute;
    width: inherit;
    height: 10px;
    background-color: var(--shape-color-x);
  }

  .shape-x span:nth-child(1) {
    transform: rotateZ(45deg);
  }

  .shape-x span:nth-child(2) {
    transform: rotateZ(-45deg);
  }

  .game-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(1fr); */
  }

  .game-score {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  .score-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swap-player {
    /* display: block; */
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
    border: 0;
    outline: none;
    background-color: transparent;
  }


  @keyframes winAnimationDiagonal {
    from {
      width: 0;
    }

    to {
      width: calc(var(--square-size) * 4 + 34px);
    }
  }

  @keyframes winAnimation {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }


  @keyframes scale-x {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }

  @keyframes gradientAnimation {
    100% {
      background-image: conic-gradient(transparent 0%, var(--shape-color-o) 0%);
    }

    97% {
      background-image: conic-gradient(transparent 5%, var(--shape-color-o) 5%);
    }

    95% {
      background-image: conic-gradient(transparent 10%, var(--shape-color-o) 10%);
    }

    90% {
      background-image: conic-gradient(transparent 15%, var(--shape-color-o) 15%);
    }

    85% {
      background-image: conic-gradient(transparent 20%, var(--shape-color-o) 20%);
    }

    80% {
      background-image: conic-gradient(transparent 25%, var(--shape-color-o) 25%);
    }

    75% {
      background-image: conic-gradient(transparent 30%, var(--shape-color-o) 30%);
    }

    70% {
      background-image: conic-gradient(transparent 35%, var(--shape-color-o) 35%);
    }

    65% {
      background-image: conic-gradient(transparent 40%, var(--shape-color-o) 40%);
    }

    60% {
      background-image: conic-gradient(transparent 45%, var(--shape-color-o) 45%);
    }

    55% {
      background-image: conic-gradient(transparent 50%, var(--shape-color-o) 50%);
    }

    50% {
      background-image: conic-gradient(transparent 55%, var(--shape-color-o) 55%);
    }

    45% {
      background-image: conic-gradient(transparent 60%, var(--shape-color-o) 60%);
    }

    40% {
      background-image: conic-gradient(transparent 60%, var(--shape-color-o) 60%);
    }

    35% {
      background-image: conic-gradient(transparent 65%, var(--shape-color-o) 65%);
    }

    30% {
      background-image: conic-gradient(transparent 70%, var(--shape-color-o) 70%);
    }

    25% {
      background-image: conic-gradient(transparent 75%, var(--shape-color-o) 75%);
    }

    20% {
      background-image: conic-gradient(transparent 80%, var(--shape-color-o) 80%);
    }

    15% {
      background-image: conic-gradient(transparent 85%, var(--shape-color-o) 85%);
    }

    10% {
      background-image: conic-gradient(transparent 90%, var(--shape-color-o) 90%);
    }

    5% {
      background-image: conic-gradient(transparent 95%, var(--shape-color-o) 95%);
    }

    0% {
      background-image: conic-gradient(transparent 100%, var(--shape-color-o) 100%);
    }
  }





  .scale-shape-x {
    animation: scale-x 0.2s 1 linear;
  }

  .gradient-shape-o {
    animation: gradientAnimation 0.2s 1 forwards linear;
  }


  @media screen and (max-width: 400px) {
    /* 
    .game {
      grid-template-columns: 1fr;
    } */

  }